.calculator-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  margin-top: 2rem;
  gap: 0.15rem;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 2px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus-visible {
  background-color: rgba(255, 255, 255, 0.9);
}

.calculator-grid > button:active {
  outline: none;
  transform: scale(0.98);
  box-shadow: 1px 1px 2px solid rgba(0, 0, 0, 0.8);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-words;
  word-break: break-all;
  border: 1px solid black;
  border-radius: 2px;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
